@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    /* #0D0D0D */
    --foreground: 30 17% 95%;
    /* #F2E7DC */
    --card: 0 0% 5%;
    /* #0D0D0D */
    --card-foreground: 30 17% 95%;
    /* #F2E7DC */
    --popover: 0 0% 5%;
    /* #0D0D0D */
    --popover-foreground: 30 17% 95%;
    /* #F2E7DC */

    --primary: 174 96% 28%;
    /* #038C7F */
    --primary-foreground: 30 17% 95%;
    /* #F2E7DC */
    --secondary: 176 97% 25%;
    /* #027373 */
    --secondary-foreground: 30 17% 95%;
    /* #F2E7DC */

    --muted: 0 0% 80%;
    /* #CCCCCC (Cinza claro) */
    --muted-foreground: 0 0% 33.3%;
    /* #555555 (Cinza escuro) */

    --accent: 0 0% 80%;
    /* #CCCCCC (Cinza claro) */
    --accent-foreground: 0 0% 20%;
    /* #333333 (Cinza escuro) */

    --destructive: 0 100% 50%;
    /* Vermelho padrão */
    --destructive-foreground: 30 17% 95%;
    /* #F2E7DC */

    --border: 0 0% 80%;
    /* #CCCCCC */
    --input: 0 0% 80%;
    /* #CCCCCC */
    --ring: 0 0% 20%;
    /* #333333 */

    --radius: 0.5rem;

    --chart-1: 0 0% 20%;
    /* #333333 */
    --chart-2: 0 0% 40%;
    /* #666666 */
    --chart-3: 0 0% 60%;
    /* #999999 */
    --chart-4: 0 0% 80%;
    /* #CCCCCC */
    --chart-5: 0 0% 5%;
    /* #0D0D0D */
  }

  .dark {
    --background: 30 17% 95%;
    /* #F2E7DC */
    --foreground: 0 0% 5%;
    /* #0D0D0D */
    --card: 30 17% 95%;
    /* #F2E7DC */
    --card-foreground: 0 0% 5%;
    /* #0D0D0D */
    --popover: 30 17% 95%;
    /* #F2E7DC */
    --popover-foreground: 0 0% 5%;
    /* #0D0D0D */

    --primary: 174 96% 28%;
    /* #038C7F */
    --primary-foreground: 30 17% 95%;
    /* #F2E7DC */
    --secondary: 176 97% 25%;
    /* #027373 */
    --secondary-foreground: 30 17% 95%;
    /* #F2E7DC */

    --muted: 0 0% 80%;
    /* #CCCCCC */
    --muted-foreground: 0 0% 20%;
    /* #333333 */

    --accent: 0 0% 80%;
    /* #CCCCCC */
    --accent-foreground: 0 0% 20%;
    /* #333333 */

    --destructive: 0 62.8% 30.6%;
    /* Vermelho ajustado */
    --destructive-foreground: 30 17% 95%;
    /* #F2E7DC */

    --border: 0 0% 80%;
    /* #CCCCCC */
    --input: 0 0% 80%;
    /* #CCCCCC */
    --ring: 0 0% 20%;
    /* #333333 */

    --chart-1: 0 0% 20%;
    /* #333333 */
    --chart-2: 0 0% 40%;
    /* #666666 */
    --chart-3: 0 0% 60%;
    /* #999999 */
    --chart-4: 0 0% 80%;
    /* #CCCCCC */
    --chart-5: 0 0% 5%;
    /* #0D0D0D */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}